/Anno1/Algoritmi/code
/appuntiObs
/Anno1/Logica
/Anno2/OS
/Anno2/Web
/Anno1/Architettura
/Anno1/Programmazione
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.toc
*.crt
*.xopp
*.ipynb
.conda/
.ipynb_checkpoints/
